# Build Output
/build

*.dll
*.exe

# RME
rme
rme.cfg
data/user

# Visual Studio
*.MAP
*.user
*.APS
*.opensdf
*.sdf
*.suo
*.obj
*.db
*.opendb
*.user
*.pdb
*.filters
/.vs
**.sln
**.vcxproj
**.vcxproj.user

vcproj/ipch/
vcproj/Beta Release/
vcproj/Debug/
vcproj/Release/
vcproj/x64/
vcproj/Project/Beta Release/
vcproj/Project/Debug/
vcproj/Project/Release/
vcproj/Project/x64/
vcproj/Installer/Beta Release/
vcproj/Installer/Debug/
vcproj/Installer/Release/
.vscode/

# VCPKG Dependencies
/vcpkg_installed

# Xcode
xcuserdata
.DS_STORE

# CLion
.idea/
cmake-build-debug/
